DATABASE_URL="postgresql://postgres:postgres@localhost:5432/quanti"
DIRECT_URL="postgresql://postgres:postgres@localhost:5432/quanti"
HOST="127.0.0.1"
PORT="3100"
# PUPPETEER_EXECUTABLE_PATH="/Applications/Google Chrome.app/Contents/MacOS/Google Chrome"
